<div class="podcast-artwork">
	<img
		class="podcast-img"
		crossOrigin="anonymous"
		src="https://cors-anywhere.herokuapp.com/{{podcast.cover | toHttps}}"
		alt="{{podcast.title}} - artwork"
		(error)="$event.target.src = '/assets/img/top-podcast-placeholder.png'"
	/>

	<div class="podcast-info">
		<div class="podcast-title">{{ podcast.title }}</div>
		<div class="podcast-author">{{ podcast.author }}</div>
		<div class="podcast-category">{{ podcast.primaryGenreName }}</div>
		<div class="podcast-description">{{ podcast.description }}</div>
	</div>
</div>
