@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.podcast-artwork {
    width: 100%;
    display: flex;
    background: $default-background;
    flex-direction: row;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}

.podcast-info, .podcast-title, .podcast-author {
    margin-top: 20px;
    margin-bottom: 20px;
}

.podcast-info {
    color: $platinum;

    @include media-breakpoint-down(sm) {
        margin-top: 0;
    }
}

.podcast-title {
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.podcast-author {
    font-size: .9rem;
}

.podcast-description {
	line-height: 1.4;
    @include media-breakpoint-down(xs) {
        margin:  20px 0
    }
}

.podcast-img {
    display: block;
    width: 200px;
    min-width: 200px;
    height: 200px;
    margin: 20px 20px 20px 0;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
}

.podcast-category {
	margin-bottom: 10px;
	cursor: pointer;
	color: #777;
}
