<div class="dropdown">
	<ul class="suggestion-list">
	  <li class="suggestion" *ngFor="let suggestion of suggestions; trackBy: trackSuggestion" [routerLink]="['/podcast', 'feed', suggestion.id]">
	    {{ suggestion.text }}
	  </li>
	</ul>
</div>


