@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.dropdown {
	background-color: $onyx;
}

.suggestion-list {
	display: flex;
	flex-direction: column;
	align-content: left;
	margin: 0;
	padding-left: 0px;
}

.suggestion {
	display: block;
	cursor: pointer;
	color: $platinum;
	flex: 1 0;
	padding: 10px;

	&:hover {
		background-color: $x11-gray;
	}
}
