<div class="podcast-episodes" *ngIf="episodes">
  <ul class="episode-list">
    <li *ngFor="let episode of episodes; trackBy: trackEpisode" class="episode">
      <a class="episode-link" (click)="setEpisode(episode)">
        <div class="episode-artwork">
          <img
            class="episode-img"
            src="{{episode.cover | toHttps}}"
            alt="{{episode.podcastTitle}} - artwork"
            (error)="$event.target.src = '/assets/img/top-podcast-placeholder.png'"
          />
        </div>
        <div class="episode-info">
          <div class="episode-date">Played {{ episode.lastPlay | dateFromNow }}</div>
          <div class="episode-title">{{ episode.title }}</div>
          <div class="episode-author"><a [routerLink]="['/podcast', 'feed', episode.podcastId]">{{ episode.podcastTitle }}</a></div>
          <div class="episode-progress">
            <progress class="episode-bar" value="{{episode.progressbar}}" max="1"></progress>
            <div class="episode-duration">{{ episode.duration }}</div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
