@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.podcast-episodes {
    z-index: 10;
    position: relative;
    width: 100%;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

.episode-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.episode-link {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    margin: 40px 20px;

    @include media-breakpoint-down(sm) {
        margin: 40px 10px;
    }
}

.episode-artwork {
    flex-basis: 160px;
    width: 160px;
    height: 160px;
    min-width: 160px;
    margin-right: 20px;
    border: 2px solid $onyx;
    overflow: hidden;

    @include media-breakpoint-down(sm) {
        flex-basis: 130px;
        width: 130px;
        height: 130px;
        min-width: 130px;
    }
}

.episode-img {
    width: 100%;
    height: 100%;
    display: block;
}

.episode-info {
    color: $platinum;
    flex-grow: 1;
}

.episode-title {
    font-size: 1.1rem;
    font-weight: bolder;
}

.episode-author {
    a {
        color: $platinum;
    }
}

.episode-size {
    margin: 10px 0;
}

.episode-link {
    text-decoration: none;
    color: $onyx;
    cursor: pointer;
}

.episode-play {
    text-decoration: none;
    color: $onyx;
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    margin: 5px 0;

    @include media-breakpoint-down(sm) {
        display: none;
    }
}


.episode-progress {
    width: 100%;
    display: block;
    margin: 5px 0;
}


.episode-bar {
    height: 8px;
    flex: 1 1;
    border: 0;
    appearance: none;

    &[value]::-webkit-progress-value,
    &[value]::-webkit-progress-bar-value {
        background-color: $main-yellow;
        border: 0;
    }

    &[value]::-webkit-progress-bar,
    &[value]::-moz-progress-bar {
        background-color: white;
        border: 0;
    }
}
