<ul class="podcast-list">
  <li class="podcast" *ngFor="let podcast of podcasts; trackBy: trackPodcast">
    <a class="podcast-link" [routerLink]="['/podcast', 'feed', podcast.id]">
      <div class="podcast-artwork">
        <img
          class="podcast-cover"
          src="{{podcast.cover | toHttps}}"
          alt="{{podcast.name}} - artwork"
          [ngStyle]="{opacity: podcast.loaded}"
          (load)="podcast.loaded = 1"
          (error)="$event.target.src = '/assets/img/top-podcast-placeholder.png'"
        />
      </div>
      <div class="podcast-info">
        <div class="podcast-title">{{ podcast.title }}</div>
        <div class="podcast-author">{{ podcast.author }}</div>
      </div>
    </a>
  </li>
</ul>
