@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.podcast-list {
    display: flex;
    flex-direction: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: left;
    margin: 0;
    padding: 10px;
}

.podcast {
    display: block;
    flex: 1 0;
    max-width: 250px;
    border-radius: 6px;
    border: 1px solid $raisin-black;
    margin: 5px;
    padding: 10px;
    background-color: $gunmetal;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);

    &:hover {
      border: 1px solid $white;
      background-color: $onyx;
    }

    @include media-breakpoint-only(md) {
        flex-basis: calc(25% - 20px);
    }

    @include media-breakpoint-up(md) {
        flex-basis: calc(20% - 20px);
    }

    @include media-breakpoint-only(sm) {
        flex-basis: calc(33% - 20px);
    }

    @include media-breakpoint-down(xs) {
        flex-basis: calc(50% - 20px);
    }
}

.podcast-artwork {
    display: block;
    overflow: hidden;

    margin: 0 auto;

    @include media-breakpoint-only(xl) {
        width: 220px;
        height: 220px;
    }

    @include media-breakpoint-only(lg) {
        width: 200px;
        height: 200px;
    }

    @include media-breakpoint-only(md) {
        width: 160px;
        height: 160px;
    }

    @include media-breakpoint-only(sm) {
        width: 218px;
        height: 218px;
    }

    @include media-breakpoint-only(xs) {
        width: 170px;
        height: 170px;
    }

    @media only screen and (max-width: 420px - 1){
        width: 150px;
        height: 150px;
    }

    @media only screen and (max-width: 360px - 1){
        width: 120px;
        height: 120px;
    }
}

.podcast-cover {
    opacity: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    transition: opacity .6s ease-in;
}

.podcast-link {
    text-decoration: none;
    display: inline;
}

.podcast-info {
    color: $x11-gray;
    padding-top: 10px;
    margin-left: 4px
}

.podcast-title {
    font-size: 1rem;
    font-weight: bolder;
    padding-bottom: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.podcast-author {
    font-size: .8rem;
    color: $x11-gray;
    padding-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

