<div class="audio-progress">
	<progress class="audio-bar" (click)="seekAudio($event)" value="{{episode.progressbar}}" max="1"></progress>
	<small class="audio-time">{{ episode.currentTimeString }}</small>
	<small class="progress-time">{{ episode.durationString }}</small>
</div>

<div class="audio">

	<div class="player-controls-btn" (click)="prev()">
		<i class="material-icons">fast_rewind</i>
	</div>
	<div class="player-controls-btn" [ngClass]="{pause: !audio.paused}" (click)="toggleAudio()">
		<i class="audio-icon material-icons" *ngIf="audio.paused">play_arrow</i>
		<i class="audio-icon material-icons" *ngIf="!audio.paused">pause</i>
	</div>

	<div class="player-controls-btn" (click)="next()">
		<i class="audio-icon material-icons">fast_forward</i>
	</div>

	<div class="player-controls-btn">
		<i class="audio-icon material-icons">{{ getVolumeIcon(volume.value) }}</i>
	</div>

	<div class="player-controls-btn" (click)="toggleSpeed($event)">{{getSpeed()}}</div>


	<div class="volume-control">
		<mat-slider #volume min="0" max="1.0" step="0.01" value="0.8" (input)="setVolume($event)"></mat-slider>
	</div>

	<div class="player-controls-btn" (click)="showListenQuery=!showListenQuery">
		<i class="audio-icon material-icons">list</i>
	</div>


	<img
	class="audio-cover"
	src="{{(episode.cover | toHttps) || 'assets/img/cover-placeholder.jpg'}}"
	alt="Cover - Podcast {{episode.author}} - Episode {{episode.title}}"
	[routerLink]="['/podcast', 'feed', episode.podcastId]"
	(error)="$event.target.src = 'assets/img/cover-placeholder.jpg'"
	>

	<div class="audio-metadata">
		<div class="audio-info">
			<div class="audio-title">{{ episode.title }}</div>
			<div class="audio-author"><a [routerLink]="['/podcast', 'feed', episode.podcastId]">{{ episode.podcastTitle }}</a></div>
		</div>
	</div>
</div>
