@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

$audio-player-color: $onyx;
$bar-height: 60px;

.audio {
	height: $bar-height;
	bottom: 0;
	background: $audio-player-color;
	color: $white;
	padding-left: 20px;
	color: $white;
}

.audio-progress {
	bottom: $bar-height;
	color: $black;
	font-size: 15px;
}

.audio-time, .progress-time {
	position: absolute;
	height: 100%;
	margin-top: 2px;
	pointer-events: none;
	// cursor: default;
}

.audio-time {
	left: 10px;
}

.progress-time {
	right: 10px;
}

.audio, .audio-progress {
	z-index: 1900;
	width: 100%;
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.audio-icon {
	font-size: 25px;
}

.player-controls-btn, .volume-control {
	background-size: cover;
	height: 40px;
	margin: 10px 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	user-select: none;
}

.player-controls-btn {
	width: 40px;
	flex-basis: 40px;
	min-width: 40px;
	cursor: pointer;
	padding: 10px 0;
	opacity: .4;
}

.volume-control {
	width: 110px;
}

.audio-metadata {
	flex: 1 1;
	align-items: center;
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	margin: 10px 20px;
}


.audio-info {
	text-align: center;
}


.audio-title {
	font-weight: bolder;

	@include media-breakpoint-up(xs) {
		font-size: 1rem;
	}

	@include media-breakpoint-down(xs) {
		font-size: .9rem;
	}
}


.audio-author {
	font-size: .75rem;

	a{
		color: $white
	}
}

.audio-bar {
	height: 16px;

	flex: 1 1;
	border: 0;
	appearance: none;
	cursor: pointer;

	&::-webkit-progress-value {
		background-color: $platinum;
		border: 0;
	}

	&[value]::-webkit-progress-bar,
	&[value]::-moz-progress-bar {
		background-color: white;
		border: 0;
	}
}


.audio-cover {
	height: 50px;
	width: 50px;
	margin-top: 5px;
	margin-left: 20px;
	cursor: pointer;
	display: inline-block;

	@include media-breakpoint-up(xs) {
		display: block;
	}

	@include media-breakpoint-down(xs) {
		display: none;
	}
}
