<ul class="nav">
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/podcast/home">Главное</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/podcast/subscribes">Подписки</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/podcast/search">Поиск</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/podcast/history">История</a>
	</li>
	<li class="nav-item" routerLinkActive="active">
		<a class="nav-link" routerLink="/podcast/categories">Категории</a>
	</li>
</ul>

