@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

:host {
    width: 100%;
    height: 70px;
    position: relative;
}

.nav {
    display: flex;
    list-style: none;
    flex-flow: row;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
    background: $gunmetal;
    box-shadow: 0 -1px 0 0 $onyx inset;
}

.nav-item {
    height: calc(100% - 3px);
    display: block;
    overflow: hidden;
    margin-left: 40px;

    &.active {
      border-bottom: 2px solid $white;
    }
}

.nav-link {
    height: 100%;
    text-decoration: none;
    font: 15px/21px sans-serif;
    display: block;
    padding: 20px 0 20px 0;
    color: #ccc;

    // @include media-breakpoint-up(md) {
    //     padding: 20px 60px;
    // }

    // @include media-breakpoint-only(md) {
    //     padding: 20px 40px;
    // }

    // @include media-breakpoint-only(sm) {
    //     padding: 20px 30px;
    // }

    // @include media-breakpoint-down(xs) {
    //     padding: 20px 25px;
    // }
}
