
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.podcast-episodes {
  z-index: 10;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.episode {
  overflow: hidden;
  &:hover {
    border: 1px solid $white;
  }
  &:hover i {
    color: $x11-gray;
    background-color: rgba(34,34,34,0.6);
  }
  .pulse-bubble {
    background: $white;
    position: absolute;
    margin: 0 auto;
    width: 18px;
    height: 18px;
    left: 29px;
    top: 29px;
    border-radius: 10px;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: bubble_out .6s infinite ease-in-out both;
    animation: bubble_out .6s infinite ease-in-out both;
  }

  @keyframes bubble_out {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }

  text-decoration: none;
  color: $onyx;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.episode-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  flex: 50%;
  background-color: $gunmetal;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
}

.episode-artwork {
  position: relative;
  flex-basis: 80px;
  width: 80px;
  height: 80px;
  min-width: 80px;
  margin: 10px;
  border: 2px solid $onyx;

  .black-back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(34,34,34,0.6);
  }

  @include media-breakpoint-down(sm) {
    flex-basis: 120px;
    width: 120px;
    height: 120px;
    min-width: 120px;
  }
  i {
    color: transparent;
    width: 100%;
    height: 100%;
    font-size: 75px;
    position: absolute;
    z-index: 10;
  }
}

.episode-img {
  width: 100%;
  height: 100%;
  display: block;
}

.episode-info {
  color: $platinum
}

.episode-title {
  font-size: 1.1rem;
  font-weight: bolder;
  margin: 10px 0;
}

.episode-date {
  margin: 10px 0;
}

.episode-play {
  text-decoration: none;
  color: $onyx;
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin: 5px 0;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}
