<ul class="episode-list">
	<li *ngFor="let episode of episodes; trackBy: trackEpisode" class="episode" (click)="setEpisode(episode)">
		<div class="episode-artwork">
			<div class="black-back" *ngIf="episode.guid == curId">
				<div class="pulse-bubble"></div>
			</div>
			<i class="material-icons">play_arrow</i>
			<img
				class="episode-img"
				src="{{episode.cover | toHttps}}"
				alt="{{episode.title}} - artwork"
				(error)="$event.target.src = '/assets/img/top-podcast-placeholder.png'"
			/>
		</div>
		<div class="episode-info">
			<div class="episode-title">{{ getTitle(episode) }}</div>
			<div class="episode-date">{{ convertDateTime(episode.releaseDate) }}</div>
			<div class="episode-duration">{{ convertDuration(episode.duration) }}</div>
		</div>
	</li>
</ul>
