<div class="subscribe">
  <div class="empty-list" *ngIf="podcasts.length == 0">Пока нет подписок</div>
  <app-podcast-list [podcasts]="podcasts" [topPodcastLoaded]="true"></app-podcast-list>
  <app-episode-list [episodes]="lastEpisodes"></app-episode-list>
</div>
