@import "~bootstrap/scss/bootstrap-grid.scss";
@import 'variables';

app-podcast-list /deep/ .podcast-list {
  flex-direction: row !important;
  flex-flow: row !important;
  overflow-x: auto !important;
  scroll-behavior: smooth;
  justify-content: flex-start !important;
}

app-podcast-list /deep/ .podcast {
  max-width: 250px !important;
}

.subscribe {
  background: $default_background;
  min-height: 100vh;
}

.empty-list {
  color: $x11-gray;
  margin: 0 auto;
  width: 20%;
  padding-top: 100px;
  font-size: 30px;
  text-align: center;
}
