.app-content {
  display: block;
  flex-flow: column;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  margin-bottom: 75px;
}

.app-header {
  position: fixed;
  top: 0;
  z-index: 1700;
}

.close-button {
  z-index: 1900;
  position: fixed;
  top: 0;
  right: 25px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 10px 0;
  color: #b8bdbf;
  i {
    font-size: 30px;
  }
}
