<ng-progress [color]="'#feff00'" [thick]="true"></ng-progress>
<div class="app">
    <app-header class="app-header"></app-header>
    <div class="close-button" *ngIf="player.showListenQuery" (click)="player.showListenQuery=false">
      <i class="material-icons">cancel</i>
    </div>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <app-listen-query #query *ngIf="player.showListenQuery"></app-listen-query>
    <app-audio-player #player class="app-player"></app-audio-player>
</div>
