@import "~bootstrap/scss/bootstrap-grid.scss";
@import 'variables';

.category-list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    margin: 0;
    padding: 20px 10px 20px;
    justify-content: center;
}

.category {
    display: block;
    height: 200px;
    width: 200px;
    opacity: .8;
    text-align: center;
    margin: 30px 0 0 30px;
}

.category-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 50%;
      margin-top: 10px;
    }
}

.category-title {
    text-decoration: none;
    color: $white;
    font-weight: bolder;
    padding: 10px;
    font-size: 1rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
