<ul class="category-list">
  <li class="category" *ngFor="let category of categories; trackBy: trackCategory" [ngStyle]="{background: getColor(category.id)}">
    <a class="category-link" [routerLink]="['/podcast', 'category', category.id, category.name]">
      <img src="{{getCategoryIcon(category.id)}}"  alt="">
      <div class="category-title">{{ category.name }}</div>
    </a>
  </li>
</ul>
