
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.listen-query {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 76px;
  top: -15px;
  z-index: 1800;
  background: $default-background;
}

.listen-header {
  position: fixed;
  top: 0;
  height: 40px;
  background: $gunmetal;
  width: 100%;
  left: 0;
  box-shadow: 0 -1px 0 0 #495359 inset;
}

.center-header {
  margin: 0 auto;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $x11-gray;
}

.listen-title {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  margin-right: 30px;
}


.podcast-episodes {
  margin: 55px auto;
  width: 30%;
  height: 81%;
  overflow-y: scroll;
}

.clear-button {
  font-size: 14px;
  padding: 6px;
  background: $onyx;
  cursor: pointer;
  border-radius: 3.1px;
  border: 1px solid #546066;
  &:hover {
    background: #4e545a;
    color: #effaff;
  }
}
