<div class="listen-query">
  <div class="listen-header">
    <div class="center-header">
      <div class="listen-title">Очередь прослушивания</div>
      <div class="clear-button" (click)="clear()">Очистить</div>
    </div>
  </div>
  <div class="podcast-episodes">
    <app-episode-list [bPLaylist]="true" [episodes]="longlist"></app-episode-list>
  </div>
</div>
