@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.podcast {
  background: $default-background;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.centerblock {
  min-height: 600px;
  width: 1000px;
  flex: 1 0 auto;
}

.podcast-episodes {
  z-index: 10;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.feed-controls {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  margin: 20px 0;
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
}

.round-button {
  font-size: 2.2rem;
  color: $platinum;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  margin: 10px;
  height: 40px;
  width: 40px;
  background-color: $onyx;
  border-radius: 50%;
  border: 2px solid #5e6e73;
  &:hover {
    background-color: #5e6063;
  }
}
