<div class="podcast">
  <div *ngIf="podcast">
    <div class="centerblock">
      <app-feed-header [podcast]="podcast"></app-feed-header>
      <div class="feed-controls">
        <a class="round-button" (click)="playFeed()" title="Прослушать">
          <i class="material-icons">play_arrow</i>
        </a>
        <a class="round-button" *ngIf="!isSubscribed" (click)="subscribeFeed(podcast)" title="Добавить в подписки">
          <i class="material-icons">favorite_border</i>
        </a>
        <a class="round-button" *ngIf="isSubscribed" (click)="unsubscribeFeed(podcast)" title="Удалить из подписки">
          <i class="material-icons">favorite</i>
        </a>
        <a class="round-button" (click)="updateFeed()" title="Update Feed">
          <i class="material-icons">refresh</i>
        </a>
      </div>
      <div class="podcast-episodes">
        <app-episode-list [episodes]="podcast.episodes"></app-episode-list>
      </div>
    </div>
  </div>
</div>
