@import 'variables';

body {
  font-family: Helvetica Neue, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #1f2226;
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  height: 8px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  background-color: $onyx;
}

a, button{
  cursor: pointer;
}

:focus, :active {
  outline: none;
  user-select: none;
  appearance: none;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}


.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0px auto;
  width: 100px;
  height: 80px;
  text-align: center;
  font-size: 10px;
  > div {
    background-color: #565656;
    height: 100%;
    width: 12px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  20% {
    -webkit-transform: scaleY(1);
  }
}


@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
