// Colors
$main-yellow: #feff00;

$black: #000;
$white: #fff;

$default-background: #1f2226;

$raisin-black: #1d2024;
$gunmetal: #2a2e33;
$onyx: #343a40;
$x11-gray: #b8bdbf;
$platinum: #e5e5e5;

$yellow: lighten($main-yellow, 33.5%);
