@import 'variables';

.category {
	background: $default-background;
	overflow: hidden;
	min-height: 100vh;
}

.category-header {
	color: #f4f4f4;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	margin: 20px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgba(255,255,255,0.05);
}
