@import "~bootstrap/scss/bootstrap-grid.scss";
@import "variables";

.search-container {
  min-height: 100vh;
  background: $default-background;
  overflow: auto;
  position: relative;
  height: auto;
}

.search {
  width: 50%;
  margin: 0 auto;
  max-width: 25%;
  left: 0;
  right: 0;
  top: 69px;
  background: transparent;
  position: absolute;
  z-index: 100;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  display: block;
  padding: 7px 10px;
  position: relative;
  width: 97%;
  margin: 0 auto;
  background-color: $gunmetal;
  font-size: 15px;
  border: 1px solid #2a2e33;
  color: $x11-gray;
  height: 35px;

  @include media-breakpoint-up(md) {
    width: 100%;
  }
}

.search-button {
  font-size: 2.2rem;
  color: $platinum;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 5px;
  width: 38px;
  height: 35px;
  background-color: $onyx;
  z-index: 1000;
  margin-left: -10px;
  &:hover {
    background-color: #5e6063;
  }
  cursor: pointer;
}

.search-result {
  margin-top: 200px;
  position: absolute;
}

.nofound {
  color: $x11-gray;
  margin: 150px auto;
  width: 50%;
  text-align: center;
  font-size: 30px;
}
