<div class="search-container">
  <div class="search">
    <div class="search-bar">
      <input #inputSearch placeholder="Подкасты, автор" class="search-input" type="text" (keyup)="keyUp($event)">
      <div class="search-button" (click)="showAllResults()">
        <i class="material-icons">search</i>
      </div>
    </div>
    <app-suggestion-list [suggestions]="searchSuggestions"></app-suggestion-list>
  </div>
  <div class="nofound" *ngIf="notFound()">Поиск не дал результатов</div>
  <div class="search-result">
    <app-podcast-list [podcasts]="searchResult" [topPodcastLoaded]="true"></app-podcast-list>
  </div>
</div>
